@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Bold.ttf);
}
@font-face {
    font-family: NotoSans-Regular;
    src: url(../fonts/NotoSans-Regular.ttf);
  }

body{
    
    background-color:#e6e6e6;
    
   }

.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
	justify-content: space-between;
}


 header .title{
    text-align: left;
    font-family: NotoSans;
    font-size: 40pt;
    margin: 20px;
    max-width: 25vw;
    height: auto;

   
}

 header > button {
    margin: 20px;
    width: 200px;
    height: 60px;
    background: #323232;
    font-family: NotoSans;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 60px;
    border: none;

 }  

 .content-table{
    width: 100%;
}
.content-table thead tr { 
    background-color: #FFFFFF; 
    color: #A0A0A0; 
    text-align: left; 
    font-family: NotoSans-Regular;
    font-size: 16px;
    
}
.content-table th, .content-table td{ 
    padding: 12px ;
    font-family: NotoSans-Regular;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}


